In [2]:
import pandas as pd
import os

In [3]:
import numpy as np

In [2]:
os.getcwd()

'/home/jovyan/B/practica-final-por-equipos-verano-2020-itam-urieluard/Auxiliares'

In [4]:
data_1 = pd.read_csv("TS-SEN GCR SIN1.csv")

In [5]:
data_2 = pd.read_csv("Datos_csv.csv")

In [6]:
data_1.head()

              FECHA      SIN
0               NaN      NaN
1  01/06/2019 00:00  1311.74
2               NaN      NaN
3  01/06/2019 00:01  1317.50
4               NaN      NaN

In [7]:
data_1.describe()

                 SIN
count  524287.000000
mean     3099.874830
std      1648.058436
min       171.250000
25%      1751.235000
50%      2830.340000
75%      4268.245000
max      8461.400000

In [11]:
data_2.describe()

,muestras,anio,hora_inicio,hora_fin,dema_int,dem_inst,aniomovil
count,25152.000000,25152.000000,25152.000000,25152.000000,25152.000000,25152.000000,25152.000000
mean,4209.362595,2018.605797,11.500000,12.500000,7745.438583,7734.933778,1.955153
std,2448.412619,0.919625,6.922324,6.922324,974.363777,977.956108,0.806060
min,1.000000,2017.000000,0.000000,1.000000,4288.339301,4230.882324,1.000000
25%,2096.750000,2018.000000,5.750000,6.750000,7011.455212,6998.106567,1.000000
50%,4192.500000,2019.000000,11.500000,12.500000,7807.317117,7794.049072,2.000000
75%,6288.250000,2019.000000,17.250000,18.250000,8484.490007,8478.522950,3.000000
max,8760.000000,2020.000000,23.000000,24.000000,10567.494660,11267.710940,3.000000

In [12]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25152 entries, 0 to 25151
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   muestras     25152 non-null  int64
 1   anio         25152 non-null  int64
 2   fecha        25152 non-null  object
 3   hora_inicio  25152 non-null  int64
 4   hora_fin     25152 non-null  int64
 5   dema_int     25152 non-null  float64
 6   dem_inst     25152 non-null  float64
 7   aniomovil    25152 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.5+ MB

In [6]:
# Interpolaci√≥n con n = 25151 para el grado del polinimio
mpoints = 25152
d = 25151
x = np.linspace(0 , mpoints , mpoints)

In [19]:
print(x)

[0.00000000e+00 1.00003976e+00 2.00007952e+00 ... 2.51499999e+04
 2.51510000e+04 2.51520000e+04]

In [21]:
data_2.dema_int

0        6872.013385
1        6660.573651
2        6504.232961
3        6435.836442
4        6437.741557
            ...
25147    8223.639187
25148    8241.447436
25149    8604.842271
25150    8519.651856
25151    8279.839812
Name: dema_int, Length: 25152, dtype: float64

In [ ]:
coeff_3 = np.polyfit(x , data_2.dema_int , d)